PROJECT_NAME=some_name
SERVICE_URL

REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

DB_NAME=database
DB_USER=user
DB_PASS=password
DB_HOST=db
DB_PORT=5432

ES_HOST=elasticsearch
ES_PORT=9200
ES_INDEX=movies, genres, persons

ITER_PAUSE=5
BACH_SIZE=500